@model Salo.SaloSimulatorWeb2.Models.Game

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script>
    var BotJs = @Html.Raw(ViewBag.BotJs);
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Game</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Configuration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ConfigurationTemplate")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Players, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span id="bot-list"></span>
                <input type="button" onclick="addbot()" value="Add Bot" /><br />
            </div><br />
            
        </div>
        
        <div class="form-group">
            <label for="iterations" class="control-label col-md-2">Iterations</label>
            <div class="col-md-10" id="iterations-input-wrapper">
                <input type="text" id ="iterations" name="iterations" />
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
