@model SaloSimulatorWeb2.Models.BotModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

@using (Html.BeginForm("Upload", "Bot", FormMethod.Post, new Dictionary<string, object>(){ {"enctype", "multipart/form-data" }})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bot</h4>
        <hr />
        @Html.ValidationSummary(true)

        <label for="file">Assembly: </label>
        <input type="file" name="file" id="file" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
